<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="HighWeb Tool SDK"
            id="org.highweb.webclsdk">
      </category>
      <wizard
            name="WebCL Kernel file"
            icon="icons/HighWeb16.png"
            category="org.highweb.webclsdk"
            class="org.highweb.webclsdk.wizards.NewCLWizard"
            id="org.highweb.webclsdk.wizards.NewCLWizard">
      </wizard>
   </extension>
<!--   <extension
         point="org.eclipse.ui.views">
      <category
            name="HighWeb Tool SDK"
            id="org.highweb.webclsdk">
      </category>
      <view
            name="HighWeb Kernel Outline"
            icon="icons/HighWeb16.png"
            category="org.highweb.webclsdk"
            class="org.highweb.webclsdk.views.KernelSourceOutlineView"
            id="org.highweb.webclsdk.views.KernelSourceOutlineView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.highweb.webclsdk.views.Perspective">
         </view>
      </perspectiveExtension>
   </extension> -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.highweb.webclsdk.editors.CLEditor"
            contributorClass="org.eclipse.cdt.internal.ui.editor.CEditorActionContributor"
            extensions="cl"
            icon="icons/HighWeb16.png"
            id="org.highweb.webclsdk.editors.CLEditor"
            name="CL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.highweb.webclsdk.preferences.WebCLSDKPreferencePage"
            id="org.highweb.webclsdk.preferences.WebCLSDKPreferencePage"
            name="HighWeb Tool">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.highweb.webclsdk.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="HighWeb Tool SDK"
            id="org.highweb.webclsdk">
      </category>
      <wizard
            name="HighWeb Project"
            icon="icons/HighWeb16.png"
            category="org.highweb.webclsdk"
            class="org.highweb.webclsdk.wizards.NewProjectWizard"
            id="org.highweb.webclsdk.wizards.NewProjectWizard"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <category
            id="webcl.sdk.category">
         <label>
            HighWeb Tool SDK
         </label>
         <description>
            Web Project including an OpenCL kernel sample file.
         </description>
      </category>
      <project-facet
            id="webcl.sdk">
         <label>
            OpenCL Kernel
         </label>
         <description>
            Enables generation of an OpenCL kernel sample file.
         </description>
         <category>webcl.sdk.category</category>
      </project-facet>
      <project-facet-version
            facet="webcl.sdk"
            version="1.0">
         <constraint>
            <requires
                  facet="jst.web"
                  version="2.2,2.3,2.4,2.5,3.0">
            </requires>
         </constraint>
         <action
               type="INSTALL">
            <delegate
                  class="org.highweb.webclsdk.delegate.CLSampleKernelInstallDelegate">
            </delegate>
         </action>
      </project-facet-version>
      <preset
            id="webcl.sdk.preset">
         <label>
            HighWeb Project
         </label>
         <description>
            Creates a web project with an OpenCL kernel sample file.
         </description>
         <facet id="jst.java" version="5.0"/>
         <facet id="jst.web" version="2.4"/>
         <facet id="webcl.sdk" version="1.0"/>
      </preset>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="webcl.sdk">
         </facet>
         <runtime-component
               any="true">
         </runtime-component>
      </supported>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.highweb.webclsdk.popupMenuContributionValidateKernel"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.cl">
         <menu
               id="org.highweb.webclsdk.highWebToolMenu"
               label="HighWeb Tool"
               path="additions">
            <separator
                  name="highWebToolGroup">
            </separator>
         </menu>
         <action
               class="org.highweb.webclsdk.popup.actions.ValidateKernelAction"
               enablesFor="1"
               id="org.highweb.webclsdk.validateKernelAction"
               label="Validate Kernel Code"
               menubarPath="org.highweb.webclsdk.highWebToolMenu/highWebToolGroup">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.highweb.webclsdk.commands.highWebAppExecCategory"
            name="HighWeb App Run Category">
      </category>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.highWebAppBuildCommand"
            name="Build HighWeb Application">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.highWebBrowserRunCommand"
            name="Run HighWeb on Web browser">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.highWebMobileRunCommand"
            name="Run HighWeb on Mobile">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.highWebAppTerminateCommand"
            name="Terminate HighWeb Application">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.fpsLookupCommand"
            name="FPS Lookup">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.highWebAndroidLocatCommand"
            name="Android Logcat">
            <state
            	class="org.eclipse.jface.commands.ToggleState"
            	id="org.highweb.webclsdk.commands.highWebAndroidLogcatCommand.toggleState" />
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.scrapeWebContentCommand"
            name="Scrape Web Content">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.multiExcutorCommand"
            name="Multi Executor">
      </command>
      <command
            categoryId="org.highweb.webclsdk.commands.highWebAppExecCategory"
            id="org.highweb.webclsdk.commands.addDeviceCommand"
            name="Add Device">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.HighWebAppBuildHandler"
            commandId="org.highweb.webclsdk.commands.highWebAppBuildCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.highWebAppBuildCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.HighWebAppRunHandler"
            commandId="org.highweb.webclsdk.commands.highWebBrowserRunCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.highWebBrowserRunCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.HighWebMobileRunHandler"
            commandId="org.highweb.webclsdk.commands.highWebMobileRunCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.highWebMobileRunCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.HighWebAppTerminateHandler"
            commandId="org.highweb.webclsdk.commands.highWebAppTerminateCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.highWebAppTerminateCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
      <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.FpsLookupHandler"
            commandId="org.highweb.webclsdk.commands.fpsLookupCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.fpsLookupCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.HighWebAndroidLogcatHandler"
            commandId="org.highweb.webclsdk.commands.highWebAndroidLocatCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.highWebAndroidLocatCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.ScrapeWebContentHandler"
            commandId="org.highweb.webclsdk.commands.scrapeWebContentCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.scrapeWebContentCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.MultiExcutorHandler"
            commandId="org.highweb.webclsdk.commands.multiExcutorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.multiExcutorCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.highweb.webclsdk.handlers.AddDeviceHandler"
            commandId="org.highweb.webclsdk.commands.addDeviceCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.highweb.webclsdk.commands.addDeviceCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.highweb.webclsdk.menus.highWebAppMenu"
               label="HighWeb Tools"
               mnemonic="M">
            <command
                  commandId="org.highweb.webclsdk.commands.highWebAppBuildCommand"
                  icon="icons/BuildIcon16.png"
                  id="org.highweb.webclsdk.menus.highWebAppBuildCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.highWebBrowserRunCommand"
                  icon="icons/RunOnBrowserIcon16.png"
                  id="org.highweb.webclsdk.menus.highWebBrowserRunCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.highWebMobileRunCommand"
                  icon="icons/RunOnMobileIcon16.png"
                  id="org.highweb.webclsdk.menus.highWebMobileRunCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.highWebAppTerminateCommand"
                  id="org.highweb.webclsdk.menus.highWebAppTerminateCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.fpsLookupCommand"
                  id="org.highweb.webclsdk.menus.fpsLookupCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.highWebAndroidLocatCommand"
                  id="org.highweb.webclsdk.menus.highWebAndroidLogcatCommand"
                  mnemonic="S"
                  style="toggle">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.scrapeWebContentCommand"
                  id="org.highweb.webclsdk.menus.scrapeWebContentCommand"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.multiExcutorCommand"
                  id="org.highweb.webclsdk.menus.multiExcutorCommand"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.addDeviceCommand"
                  id="org.highweb.webclsdk.menus.addDeviceCommand"
                  mnemonic="S"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.highweb.webclsdk.toolbars.highWebAppRunToolbar">
            <command
                  commandId="org.highweb.webclsdk.commands.highWebAppBuildCommand"
                  icon="icons/BuildIcon16.png"
                  id="org.highweb.webclsdk.toolbars.highWebAppBuildCommand"
                  tooltip="Builds HighWeb Application">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.highWebBrowserRunCommand"
                  icon="icons/RunOnBrowserIcon16.png"
                  id="org.highweb.webclsdk.toolbars.highWebBrowserRunCommand"
                  tooltip="Runs HighWeb on Web Browser">
            </command>
            <command
                  commandId="org.highweb.webclsdk.commands.highWebMobileRunCommand"
                  icon="icons/RunOnMobileIcon16.png"
                  id="org.highweb.webclsdk.toolbars.highWebMobileRunCommand"
                  tooltip="Runs HighWeb on Mobile">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="HighWeb Tool SDK"
            id="org.highweb.webclsdk">
      </category>
      <view
            category="org.highweb.webclsdk"
            class="org.highweb.webclsdk.views.dialog.fpsLookup.FpsLookupView"
            icon="icons/HighWeb16.png"
            id="org.highweb.webclsdk.views.FpsLookupView"
            name="FPS Lookup">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.highweb.webclsdk.views.FpsLookupView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
